body    {

font-family: "Open Sans", Arial, sans-serif;
}
.logo-div{
    display: flex;
    justify-content: flex-start;
    background-color:#DC143C; 
    align-items: center;
  
}
.logo{
    /*fill: #DC143C;*/
  
    color: #DC143C;
    background-color:#DC143C; 
   /* border: 10px solid#DC143C;*/
  margin-left: 3px;
  margin-bottom: 10px;
  padding: 5px;
   /* border-radius: 50px;*/
    /*transform: rotate(330deg);*/
    width: 150px;
    height: 150px;
}

.navbar {
    display: flex;
    background-color: #333;
     justify-content: space-evenly;
     align-items: center;
    overflow: hidden;
    height: 60px;

}
.navbar a {
    display: flex;
    font-size: clamp(14px, 3vw, 24px);
    font-weight: bold;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.historia{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.histopa{
  max-width: 400px;
  border: 2px solid black;
    max-height: 400px ;
     width: 400px ;
     border-radius: 6px;
     padding: 10px;
     margin: 10px;
}

.masa img{
     
    border-radius: 6px;
    max-width: 400px;
    height: 400px ;
     border: 2px solid black;

}
.nombre{
   display:flex;
    justify-content: space-between;
    flex-wrap: wrap; 
      
}
.nombrepa{
      max-width: 400px;
  border: 2px solid black;
    max-height: 400px ;
     width: 400px ;
     border-radius: 6px;
     padding: 10px;
 margin: 10px;
}
.queso img{
    border-radius: 6px;
    max-width: 400px;
    height: 400px ;
     border: 2px solid black;  
}
.valor{
      display:flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.valorpa{
          max-width: 400px;
  border: 2px solid black;
    max-height: 400px ;
     width: 400px ;
     border-radius: 6px;
     padding: 10px;
      margin: 10px;
}
.yogurt img{
     border-radius: 6px;
    max-width: 400px;
    height: 400px ;
     border: 2px solid black; 
}

.foot {
    display: flex;
    background-color: #333;
     justify-content: space-evenly;
     align-items: center;
    overflow: hidden;
    height: 60px;
}

.foot p {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
