body    {

font-family: "Open Sans", Arial, sans-serif;

.logo-div{
    display: flex;
    justify-content: flex-start;
    background-color:#DC143C; 
    align-items: center;
  
}
.logo{
    /*fill: #DC143C;*/
  
    color: #DC143C;
    background-color:#DC143C; 
   /* border: 10px solid#DC143C;*/
  margin-left: 3px;
  margin-bottom: 10px;
  padding: 5px;
   /* border-radius: 50px;*/
    /*transform: rotate(330deg);*/
    width: 150px;
    height: 150px;
}

.navbar {
    display: flex;
    background-color: #333;
     justify-content: space-evenly;
     align-items: center;
    overflow: hidden;
    height: 60px;

}
.navbar a {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}